/* styles.css */

.bg-blue-500 {
    background-color: #72829c;
  }
  
  .text-blue-500 {
    color: #3b82f6;
  }
  
  .text-white {
    color: #989898;
  }

.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .box {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.body {
    color: #ffffff;
  }
  
  h2 {
    color: #333;
  }

  ul li {
    color: #555;
  }  